<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://www.mybatis.org/dtd/mybatis-3-config.dtd" >
<mapper namespace="com.zz.common.dao.CommrecordMapper" >
  <resultMap id="BaseResultMap" type="com.zz.common.model.Commrecord" >
    <result column="C_DistrictBCDId" property="cDistrictbcdid" jdbcType="VARCHAR" />
    <result column="C_AddressId" property="cAddressid" jdbcType="INTEGER" />
    <result column="C_ChannelId" property="cChannelid" jdbcType="INTEGER" />
    <result column="C_RecordDateBCD" property="cRecorddatebcd" jdbcType="INTEGER" />
    <result column="C_RecordHour" property="cRecordhour" jdbcType="INTEGER" />
    <result column="C_RecordTime" property="cRecordtime" jdbcType="VARCHAR" />
    <result column="C_FrameCmdId" property="cFramecmdid" jdbcType="VARCHAR" />
    <result column="C_CommDesp" property="cCommdesp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_DistrictBCDId, C_AddressId, C_ChannelId, C_RecordDateBCD, C_RecordHour, C_RecordTime, 
    C_FrameCmdId, C_CommDesp
  </sql>
 

  <insert id="insert" parameterType="com.zz.common.model.Commrecord" >
    insert into t_commrecord (C_DistrictBCDId, C_AddressId, C_ChannelId, 
      C_RecordDateBCD, C_RecordHour, C_RecordTime, 
      C_FrameCmdId, C_CommDesp)
    values (#{cDistrictbcdid,jdbcType=VARCHAR}, #{cAddressid,jdbcType=INTEGER}, #{cChannelid,jdbcType=INTEGER}, 
      #{cRecorddatebcd,jdbcType=INTEGER}, #{cRecordhour,jdbcType=INTEGER}, #{cRecordtime,jdbcType=VARCHAR}, 
      #{cFramecmdid,jdbcType=VARCHAR}, #{cCommdesp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zz.common.model.Commrecord" >
    insert into t_commrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cDistrictbcdid != null" >
        C_DistrictBCDId,
      </if>
      <if test="cAddressid != null" >
        C_AddressId,
      </if>
      <if test="cChannelid != null" >
        C_ChannelId,
      </if>
      <if test="cRecorddatebcd != null" >
        C_RecordDateBCD,
      </if>
      <if test="cRecordhour != null" >
        C_RecordHour,
      </if>
      <if test="cRecordtime != null" >
        C_RecordTime,
      </if>
      <if test="cFramecmdid != null" >
        C_FrameCmdId,
      </if>
      <if test="cCommdesp != null" >
        C_CommDesp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cDistrictbcdid != null" >
        #{cDistrictbcdid,jdbcType=VARCHAR},
      </if>
      <if test="cAddressid != null" >
        #{cAddressid,jdbcType=INTEGER},
      </if>
      <if test="cChannelid != null" >
        #{cChannelid,jdbcType=INTEGER},
      </if>
      <if test="cRecorddatebcd != null" >
        #{cRecorddatebcd,jdbcType=INTEGER},
      </if>
      <if test="cRecordhour != null" >
        #{cRecordhour,jdbcType=INTEGER},
      </if>
      <if test="cRecordtime != null" >
        #{cRecordtime,jdbcType=VARCHAR},
      </if>
      <if test="cFramecmdid != null" >
        #{cFramecmdid,jdbcType=VARCHAR},
      </if>
      <if test="cCommdesp != null" >
        #{cCommdesp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update t_commrecord
    <set >
      <if test="record.cDistrictbcdid != null" >
        C_DistrictBCDId = #{record.cDistrictbcdid,jdbcType=VARCHAR},
      </if>
      <if test="record.cAddressid != null" >
        C_AddressId = #{record.cAddressid,jdbcType=INTEGER},
      </if>
      <if test="record.cChannelid != null" >
        C_ChannelId = #{record.cChannelid,jdbcType=INTEGER},
      </if>
      <if test="record.cRecorddatebcd != null" >
        C_RecordDateBCD = #{record.cRecorddatebcd,jdbcType=INTEGER},
      </if>
      <if test="record.cRecordhour != null" >
        C_RecordHour = #{record.cRecordhour,jdbcType=INTEGER},
      </if>
      <if test="record.cRecordtime != null" >
        C_RecordTime = #{record.cRecordtime,jdbcType=VARCHAR},
      </if>
      <if test="record.cFramecmdid != null" >
        C_FrameCmdId = #{record.cFramecmdid,jdbcType=VARCHAR},
      </if>
      <if test="record.cCommdesp != null" >
        C_CommDesp = #{record.cCommdesp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_commrecord
    set C_DistrictBCDId = #{record.cDistrictbcdid,jdbcType=VARCHAR},
      C_AddressId = #{record.cAddressid,jdbcType=INTEGER},
      C_ChannelId = #{record.cChannelid,jdbcType=INTEGER},
      C_RecordDateBCD = #{record.cRecorddatebcd,jdbcType=INTEGER},
      C_RecordHour = #{record.cRecordhour,jdbcType=INTEGER},
      C_RecordTime = #{record.cRecordtime,jdbcType=VARCHAR},
      C_FrameCmdId = #{record.cFramecmdid,jdbcType=VARCHAR},
      C_CommDesp = #{record.cCommdesp,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>