<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.common.dao.t_fault_sourceMapper" >
  <resultMap id="BaseResultMap" type="com.zz.common.model.t_fault_source" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fault_id" property="fault_id" jdbcType="VARCHAR" />
    <result column="table_name" property="table_name" jdbcType="VARCHAR" />
    <result column="record_id" property="record_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fault_id, table_name, record_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zz.common.model.t_fault_sourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_fault_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_fault_source
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_fault_source
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zz.common.model.t_fault_sourceExample" >
    delete from t_fault_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zz.common.model.t_fault_source" >
    insert into t_fault_source (id, fault_id, table_name, 
      record_id)
    values (#{id,jdbcType=BIGINT}, #{fault_id,jdbcType=VARCHAR}, #{table_name,jdbcType=VARCHAR}, 
      #{record_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.zz.common.model.t_fault_source" >
    insert into t_fault_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fault_id != null" >
        fault_id,
      </if>
      <if test="table_name != null" >
        table_name,
      </if>
      <if test="record_id != null" >
        record_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fault_id != null" >
        #{fault_id,jdbcType=VARCHAR},
      </if>
      <if test="table_name != null" >
        #{table_name,jdbcType=VARCHAR},
      </if>
      <if test="record_id != null" >
        #{record_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zz.common.model.t_fault_sourceExample" resultType="java.lang.Integer" >
    select count(*) from t_fault_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_fault_source
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fault_id != null" >
        fault_id = #{record.fault_id,jdbcType=VARCHAR},
      </if>
      <if test="record.table_name != null" >
        table_name = #{record.table_name,jdbcType=VARCHAR},
      </if>
      <if test="record.record_id != null" >
        record_id = #{record.record_id,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_fault_source
    set id = #{record.id,jdbcType=BIGINT},
      fault_id = #{record.fault_id,jdbcType=VARCHAR},
      table_name = #{record.table_name,jdbcType=VARCHAR},
      record_id = #{record.record_id,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.common.model.t_fault_source" >
    update t_fault_source
    <set >
      <if test="fault_id != null" >
        fault_id = #{fault_id,jdbcType=VARCHAR},
      </if>
      <if test="table_name != null" >
        table_name = #{table_name,jdbcType=VARCHAR},
      </if>
      <if test="record_id != null" >
        record_id = #{record_id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zz.common.model.t_fault_source" >
    update t_fault_source
    set fault_id = #{fault_id,jdbcType=VARCHAR},
      table_name = #{table_name,jdbcType=VARCHAR},
      record_id = #{record_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>